# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Dataset / Raw data
# ==========================
archive/
data_raw/
datasets/

# ==========================
# TensorBoard / Logs
# ==========================
logs/
logs_*/
results/logs/
events.out.tfevents.*

# ==========================
# Temporary / test files
# ==========================
test.py
tmp/
*.tmp

features/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
