# =========================
# Core scientific stack
# =========================
numpy
scikit-learn
tqdm
python-dotenv

# =========================
# PyTorch
# =========================
torch
torchvision

# =========================
# Imaging
# =========================
pillow
matplotlib

# =========================
# Training / logging
# =========================
tensorboard

# =========================
# Demo / UI
# =========================
streamlit

# =========================
# RadImageNet (NON da PyPI)
# =========================
git+https://github.com/Warvito/radimagenet-models.git